<html>
  <head>
    <title>Voong Finance</title>
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
  </head>
  <body>
    <div id='navbar'>
      <div id='logo'></div>
      <button id='create-transaction-btn' type='button'>Create Transaction</button>
    </div>
    <div id="balance-chart"></div>
    <div id='calendar'></div>

    <script src="http://code.jquery.com/jquery.min.js"></script>    
    {% load static %}
    <script src='{% static "voong_finance_app/js/vf.js" %}'></script>
    <script src='{% static "voong_finance_app/js/balance_initialisation.js" %}'></script>
    <script src='{% static "voong_finance_app/js/balance_chart.js" %}'></script>
    <script src='{% static "voong_finance_app/js/home.js" %}'></script>
    <script src='{% static "voong_finance_app/js/transactions.js" %}'></script>
    <script src='{% static "voong_finance/js/d3.js" %}'></script>
    <script>
      $.ready(vf.home.initialise());
    </script>
  </body>
</html>
