{% extends "voong_finance_app/base.html" %}

{% block style %}
<style>
  div {
    text-align: center;
    margin-top: 100px;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h2>Welcome to Voong Finance!</h2>
  <p>Sign in or register to get started</p>
  <a href="registration">
    <button id="registration-button" type="button" class="btn btn-primary">Register</button>
  </a>
  <a href="signin">
    <button id="signin-button" type="button" class="btn btn-primary">Sign In</button>
  </a>
</div>
{% endblock %}

<!--<html>-->
<!--<head>-->
<!--<title>Voong Finance</title>-->
<!--<link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->
<!--<div id='navbar'>-->
<!--<div id='logo'></div>-->
<!--<button id='create-transaction-btn' type='button'>Create Transaction</button>-->
<!--</div>-->
<!--<h1>Welcome</h1>-->
<!--<div id='balance-initialisation'>-->
<!--<form onsubmit='return false;'>-->
<!--{% csrf_token %}-->
<!--<input id='input' type='number' name='initial-balance'>-->
<!--<input id='date'>-->
<!--<input id='submit-button' type='submit' value='Submit'>-->
<!--</form>-->
<!--</div>-->
<!--<div id="balance-chart"></div>-->
<!--<div id='calendar'></div>-->

<!--<script src="http://code.jquery.com/jquery.min.js"></script>    -->
<!--{% load static %}-->
<!--<script src='{% static "voong_finance_app/js/vf.js" %}'></script>-->
<!--<script src='{% static "voong_finance_app/js/balance_initialisation.js" %}'></script>-->
<!--<script src='{% static "voong_finance_app/js/balance_chart.js" %}'></script>-->
<!--<script src='{% static "voong_finance_app/js/home.js" %}'></script>-->
<!--<script src='{% static "voong_finance_app/js/transactions.js" %}'></script>-->
<!--<script src='{% static "voong_finance/js/d3.js" %}'></script>-->
<!--<script>-->
<!--balance_initialisation_form = new balance_initialisation.BalanceInitialisation();-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
